/*Top Menu Section*/
div.top {	
			width: 100%;
			height: 60px;
			position: fixed;
			top: 0;
			background-color: white;
			
}


div.tab {
			margin: 10 auto 10 auto;
			width: 1000px;
}



span.title {
			/*margin-top: 10px*/
			font-family: "맑은 고딕";
			color: #4e57ac;
			font-size: 40px;
			letter-spacing: 5px;
}


span.menu {
			float: right;
			margin-top: 10px;
			font-family: "helvetica-neue";
			font-size: 24px;	
}


a.menu { margin-left: 10px; }


div.bg {	
			height: 1000px;
			background: white url("images/bg_books.jpg") no-repeat;
}


p.img_main {
		/*font-style: italic;*/
		width: 1000px;
		color: #f2f2f2;
		font-size: 54px;
		padding-top: 650px;
		letter-spacing: 5px;
		font-weight: bold;
		text-shadow: 1px 1px 20px #2c2c2d;

}


p.img_sub {
		width: 1000px;
		color: #f2f2f2;
		font-size: 24px;
		padding-top: 15px;
		letter-spacing: 2px;
		font-weight: bold;
		text-shadow: 1px 1px 5px #2c2c2d;
}



a { text-decoration: none;}
a:link, a:visited { color: #4e57ac; }
a:hover{ color: #4e80ac;}



/*Body Text Section*/
div.content {
			width: 1000px;
			height: 650px;
			margin: 0 auto;
}


p {
			/*margin-top: 100px;*/
			line-height: 1.5;
			font-family: "맑은 고딕";
			font-size: 24px;
			text-align: justify;
			margin: 0 auto; 
		}

p.hidden {
	margin: 150 0 150 0;
	color: white;
	font-size: 24px;
	letter-spacing: 2px
}


p.bold {
		font-weight: bold;
		font-size: 24px;
		line-height: 1.5;
		margin: 40px 0 5px 0;
}


h1 { 
		font-family: '맑은 고딕'; 
		font-size: 40px;
		color: black;
		letter-spacing: 2px;
		margin: 0 0 40 0;
}


li { 
	font-family: "맑은 고딕";
	font-size: 24px;
	line-height: 1.5;

}


p.footer { 
	font-family: "helvetica-neue";
	font-size: 20px;
	margin-bottom: 30px;
	text-align: center;
 }


